.chart {
    flex: 4;
    -webkit-box-shadow: -2px -5px 18px -8px #000000;
    box-shadow: -2px -5px 10px -1px #000000;
    padding: 10px;
    color: gray;

    .title {
        margin-bottom: 20px;
    }

    .chartGrid {
        stroke: rgb(228, 225, 225);
    }
}